.search-input-bar {
  display: flex;
  width: 80%;
  align-items: center;
  margin: 20px 5px 20px 10px;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--tool-bar-bg-color);
  border: 2px solid transparent;
  transition: border-color 0.2s ease;
}

.search-input-bar:focus-within {
  border-color: #1890ff;
}

.search-input {
  background: inherit;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
}


.app-wrapper {
  height: 100vh;
  box-sizing: border-box;
}

#app {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-features-bar {
  display: flex;
  height: 100%;
  width: 50px;
  flex-direction: column;
  border-right: 1px solid var(--border-color)
}

.message-box-header {
  -webkit-app-region: drag;
}


.contact-list-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  border-right: 1px solid var(---border-color);
  box-shadow: 8px 0 10px -10px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.contact-list {
  flex: 1;
  background-color: var(--background-color);
}

.message-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  min-width: 0;
}

.background-image-container {
  flex: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1;
}

.search-tool-btn {
  background-color: var(--toobar-background-color);
}

.message-box-body {
  display: flex;
  flex: 1;
  flex-direction: column;
}