.title-bar {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  color: var(--text-color);
  height: 32px;
  top: 0;
  right: 0;
  z-index: 1000;
  user-select: none;
  width: 100%;
  -webkit-app-region: drag; 
}


.title-bar-controls {
  display: flex;
  height: 100%;
  right: 0;
}

.title-bar-button {
  width: 32px;
  height: 100%;
  border: none;
  background-color: transparent;
  font-family: "Segoe MDL2 Assets";
  font-size: 12px;
  cursor: pointer;
  outline: none;
  -webkit-app-region: no-drag; 
}

.title-bar-button:hover {
  color: var(--text-color);
}

.title-bar-button.ant-btn .anticon {
  color: var(--text-color);
}

.title-bar-button.ant-btn:hover .anticon {
  color: var(--text-color); 
}

#close-btn:hover {
  background-color: #e81123;
  color: white;
}
