.contact-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.contact-item {
    height: 64px;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center; /* 垂直居中 */
    padding-left: 10px; /* 左侧内边距 */
    box-sizing: border-box; /* 包含内边距和边框在宽度内 */
    position: relative; /* 用于定位在线状态 */
}

.contact-item:hover {
    background-color: #f5f5f5;
}

.contact-item.selected{
    background-color: aqua;
    border-bottom: #cacaca 1px solid;
}

.contact-item span {
    margin-left: 10px;
    font-size: 0.8em;
    position: absolute; 
    right: 10px;
    top: 50%;
    transform: translateY(-50%); 
}

.online-indicator {
    color: green;
}

.offline-indicator {
    color: gray;
}
