.contact-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.contact-item {
    height: 64px;
    width: 100%;
    background-color: aqua;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-bottom: 1px solid black;
}
