.contact-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100%;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.contact-list::-webkit-scrollbar {
    display: none;
}

.ant-collapse-content-box{
    justify-content: space-between !important;
    padding: 0 !important;
    padding-bottom: 15px !important;
}

.contact-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.contact-item {
    height: 64px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 10px; 
    padding-right: 10px;
    box-sizing: border-box; 
    position: relative; 
}

.contact-username {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px; 
    display: inline-block;
}

.contact-item:hover {
    background-color: var(--hover-contact-background-color);
}

.contact-item.selected{
    background-color: var(--selected-contact-background-color);
    border-bottom: #cacaca 1px solid;
}



.online-indicator {
    color: green;
}

.offline-indicator {
    color: gray;
}
