
.create-group-title{
    color: var(--text-color-light); 
    font-weight: bold;
    margin: 10px 0;
}

.create-groups-app-container {
    display: flex;
    width: 550px; 
    height: 450px; 
}

.friends-list {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 100%;
    border-right: 1px solid var(--border-color);
    overflow-y: auto;
    flex-shrink: 0;
}


.create-group-form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 230px;
    height: 100%;
    min-height: 0;
    overflow-y: auto;
    flex-shrink: 0;
}

.create-group-button {
    position: absolute; 
    right: 20px;
    bottom: 20px;
}

.friend-item {
    display: flex;
    padding: 10px 0 10px 0;
    justify-items: center;
    align-items: center;
}

.friend-item img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.friend-item:hover {
    background-color: var(--hover-contact-background-color);
}
