* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  --background-color: white;
  --toobar-background-color: #e9e9e9;
  --message-background-color: #f5f5f5;
  --tool-bar-selected-color: #42b7ed;
  --tool-bar-hover-color: #cacaca;
  --text-color: black;
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --history-message-user-color: #aae7f4;
  --history-message-other-color: rgb(241, 241, 241);
  --selected-contact-background-color: #42b7ed;
  --hover-contact-background-color: #d6d6d6;
  --history-file--color: #ffffff;
  --border-color: #e9e9e9;
  --search-bar-background-color: #f5f5f5;
  --contact-list-color: white;
}

body.dark-mode {
  --toobar-background-color: #2b2b2b;
  --message-background-color: #303030;
  --history-file--color: #464646;
  --history-message-user-color: rgb(19, 151, 172);
  --history-message-other-color: #545454;
  --hover-contact-background-color: #727272;
  --selected-contact-background-color: #1182b6;
  --background-color: #1a1a1a;
  --text-color: rgb(241, 241, 241);
  --border-color: #5a5a5a;
  --search-bar-background-color: #4a4a4a;
  --contact-list-color: rgb(34, 34, 34);
}