* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  --background-color: rgb(250, 250, 250);
  --information-bg-color: rgb(250, 250, 250);
  --contact-option-bg-color: rgb(238, 236, 236);
  --tool-bar-bg-color: #f2f2f2;
  --message-background-color: #f5f5f5;
  --tool-bar-selected-color: #42b7ed;
  --tool-bar-hover-color: #cacaca;
  --text-color: black;
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --history-message-user-color: #aae7f4;
  --history-message-other-color: rgb(229, 229, 229);
  --selected-contact-background-color: #63bbe4;
  --hover-contact-background-color: #d6d6d6;
  --history-file--color: #ffffff;
  --search-bar-background-color: #f5f5f5;
  --border-color: rgba(208, 208, 208, 0.6);
  --border-radius:15px;
  --custom-modal-background-color: #f5f5f5;
}

body.dark-mode {
  --background-color: #202020;
  --information-bg-color: #171717;
  --custom-modal-background-color: #212121;
  --tool-bar-bg-color: #323232;
  --tool-bar-hover-color: rgb(29, 29, 29);
  --contact-option-bg-color: black;
  --message-background-color: #303030;
  --history-file--color: #464646;
  --history-message-user-color: rgb(19, 151, 172);
  --history-message-other-color: #545454;
  --hover-contact-background-color: #727272;
  --selected-contact-background-color: #3ea2d1;
  --text-color: rgb(195, 195, 195);
  --search-bar-background-color: #4a4a4a;
  --border-color: rgba(90, 90, 90, 0.6);
}