.history-message-box {
    flex: 1;
    overflow-y: auto;
    background-color: var(--background-color);
    color: var(--text-color);
    scrollbar-color: transparent transparent;
    scrollbar-width: 10px;
    overflow-x: hidden;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 0 15px 5px 15px;
    -webkit-app-region: no-drag;
    border-bottom: 1px solid #ccc;
    align-items: flex-end;
}

.message-send-box {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border-top: 1px solid #ccc;
    max-height: 500px;
    min-height: 200px;
    color: var(--text-color);
    margin-top: auto;
}

.file-upload-btn {
    background-color: transparent;
    border: none;
    color: var(--text-color);
}

.file-upload-btn:hover {
    background-color: var(--hover-contact-background-color);
}

.message-input-box {
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-right: 50px;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
    font-size: 16px;
    overflow-y: auto;
    background-color: var(--background-color);
    color: var(--text-color);
    resize: none;
}

.message-input-box::-webkit-scrollbar {
    display: none;
}

.message-send-btn {
    position: absolute;
    /* 绝对定位到输入框内部 */
    width: 80px;
    height: 30px;
    right: 20px;
    bottom: 20px;
    border-radius: 4px;
    border: none;
    background-color: var(--selected-contact-background-color);
    color: var(--text-color);
    cursor: pointer;
}

.message-send-btn:hover {
    background-color: var(--tool-bar-selected-color);
}

.message-list {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
}

.message-item .user-avatar {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    margin: 0 5px;
}

.message-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    width: 100%;
}

.message-item.sent {
    flex-direction: row-reverse;
}

.message-item.received {
    flex-direction: row;
}

.message-content {
    display: 1;
    padding: 8px 12px;
    border-radius: 18px;
}

.message-status {
    margin: 10px;
}

.message-item.sent .message-content {
    background-color: var(--history-message-user-color);
}

.message-item.received .message-content {
    background-color: var(--history-message-other-color);
}

.message-timestamp {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.75em;
    color: var(--text-color);
    margin-top: 4px;
}

.message-text {
    font-size: 16px;
    color: var(--text-color);
    overflow-wrap: break-word;
}

.file-message-content {
    display: flex;
    width: 300px;
    padding: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 100px;
}

.file-message-content.sent{
    background-color: var(--history-message-user-color);
}

.file-message-content.received{
    background-color: var(--history-message-other-color);
}

.file-message-content .message-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
    display: inline-block;

}

/* 顶部拖动调整 textarea 高度的抓手样式 */
.message-send-box .resize-handle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    cursor: ns-resize;
    background: transparent;
    z-index: 1;
}


.message-send-box {
    flex: 0 0 auto !important;
}

.group-member-list {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    width: 200px;
    border-left: 1px solid #ccc;
    gap: 5px;
}

.group-member {
    display: flex;
    padding: 5px 5px;
}

.group-member:hover {
    background-color: var(--hover-contact-background-color);

}

.group-member-toggle-btn {
    position: absolute;
    top: 40%;
    right: 0;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
}