.history-message-box {
    flex: 1;
    overflow-y: auto;
    background-color: var(--background-color);
    color: var(--text-color);
    scrollbar-color: transparent transparent;
    scrollbar-width: 10px;
    overflow-x: hidden;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 0 15px 5px 15px;
    -webkit-app-region: no-drag;
    border-bottom: 1px solid var(--boder-color);
    align-items: flex-end;
    position: relative;
}

.message-list-tool {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    gap: 30px;
    position: absolute;
    right: 0;
    padding-right: 30px;
}

.message-list-tool .icon {
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.message-list-tool .icon:hover {
    background-color: var(--hover-contact-background-color);
}

.contact-username-head {
    flex: 1;
}

.message-send-box {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border-top: 1px solid var(--boder-color);
    max-height: 500px;
    min-height: 200px;
    color: var(--text-color);
    margin-top: auto;
}

.file-upload-btn {
    background-color: transparent;
    border: none;
    color: var(--text-color);
}

.file-upload-btn:hover {
    background-color: var(--hover-contact-background-color);
}

.message-input-box {
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-right: 50px;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
    font-size: 16px;
    overflow-y: auto;
    background-color: var(--background-color);
    color: var(--text-color);
    resize: none;
}

.message-input-box::-webkit-scrollbar {
    display: none;
}

.message-send-btn {
    position: absolute;
    width: 80px;
    height: 30px;
    right: 20px;
    bottom: 20px;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--selected-contact-background-color);
    color: var(--text-color);
    cursor: pointer;
}

.message-send-btn:hover {
    background-color: var(--tool-bar-selected-color);
}

.message-list {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
}

.message-item .user-avatar {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    margin: 0 5px;
}

.message-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    width: 100%;
}

.message-item.sent {
    flex-direction: row-reverse;
}

.message-item.received {
    flex-direction: row;
}

.message-content {
    display: 1;
    padding: 8px 12px;
    border-radius: var(--border-radius);
}

.message-status {
    margin: 10px;
}

.message-item.sent .message-content {
    background-color: var(--history-message-user-color);
}

.message-item.received .message-content {
    background-color: var(--history-message-other-color);
}

.message-timestamp {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.75em;
    color: var(--text-color);
    margin-top: 4px;
}

.message-text {
    font-size: 16px;
    color: var(--text-color);
    overflow-wrap: break-word;
}

.file-message-content {
    display: flex;
    width: 300px;
    padding: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    height: 100px;
}

.file-message-content.sent {
    background-color: var(--history-message-user-color);
}

.file-message-content.received {
    background-color: var(--history-message-other-color);
}

.file-message-content .message-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
    display: inline-block;

}

/* 顶部拖动调整 textarea 高度的抓手样式 */
.message-send-box .resize-handle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    cursor: ns-resize;
    background: transparent;
    z-index: 1;
}


.message-send-box {
    flex: 0 0 auto !important;
}

.group-notice-bar.group-member-list {
    display: flex;
    width: 200px;
    flex-direction: column;
    border-left: 1px solid var(--boder-color);
    background-color: var(--background-color);
}

.group-notice-bar.group-member-list .group-member {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    gap: 5px;
}



.contact-option .group-member-list {
    display: grid;
    margin: 10px 10px;
    height: auto;
    border-radius: var(--border-radius);
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 10px 0;
    background-color: var(--background-color);
}

.group-member:hover {
    background-color: var(--hover-contact-background-color);
}

.contact-option .group-member-list .group-member {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 50px;
    height: 80px;
    border-radius: var(--border-radius);
    padding: 5px;
    justify-content: center;
}

.contact-option .group-member-list .group-member img{
    grid-row: 1;
    width: 40px;
    height: 40px;
    justify-self: center;
    border-radius: var(--border-radius);
}

.contact-option .group-member-list .group-member span{
    grid-row: 2;
    font-size: 12px;
    color: var(--text-color);
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 5px;
    justify-content: center;
}

.contact-option .delete-message-history{
    color: red;
    background-color: var(--background-color);
    border: none;
    border-radius: var(--border-radius);
    margin: 10px;
    height: 40px;
}

.group-member-toggle-btn {
    position: absolute;
    top: 40%;
    right: 0;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
}

.contact-option {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    flex-direction: column;
    height: calc(100% - 100px);
    right: 0;
    width: 300px;
    z-index: 10;
    background-color: var(--contact-option-bg-color);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    border-radius: var(--border-radius);
    overflow-y: auto;
}

.contact-option.visible {
    transform: translateX(0);
    background: var(--contact-option-bg-color);
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.3);
}

.input-toolbar{
    background-color: var(--background-color);
    display: flex;
    width: 100%;
}

.contact-option-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: var(--background-color);
}

.contact-option-header strong{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contact-option-header h4{
    opacity:0.5;
}
