
.settings-area {
  display: flex;
  justify-content: space-between; 
  width: 100%; 
  box-sizing: border-box; 
  padding: 15px; 
}

.tool-bar{
  display: flex;
  height: 100%;
  width: 150px;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.tool-bar-item.active{
  background-color: rgb(221, 221, 221);
}

.tool-bar-item:hover{
  background-color: rgb(235, 235, 235)
}

.content-area{
  flex: 1;
  height: 100%;
  justify-content: left;
  padding-left: 20px;
  padding-top: 20px;
}
