.tool-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--tool-bar-bg-color);
    color: var(--text-color);
    align-items: center;
    border-right: 1px solid rgba(var() 0.1);
}

.user-avatar{
    width: 35px;
    height: 35px;
    margin-top: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.tool-bar-button.active{
    color: var(--tool-bar-selected-color) !important;
}

.tool-bar-button.inactive:hover{
    background-color: var(--tool-bar-hover-color) !important;
}

.base-tool-bar {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    width: 100%;
    gap: 20px;
    padding-top: 20px; 
}
.add-function-bar {
    margin-top: auto;
    margin-bottom: 20px;
}

.setting-bth {
    margin-top: auto;
    margin-bottom: 20px;
    background-color: var(--tool-bar-bg-color);
    color: var(--text-color);
}

.tool-bar .ant-btn {
    width: 100%; 
}
