.contact-info-grid {
    display: grid;
    grid-template-columns: 1fr auto; 
    grid-template-rows: auto auto;
    gap: 2px 10px;
    flex: 1;
    min-width: 0;
}

.contact-info-grid .contact-username {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contact-info-grid .contact-timestamp {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    align-self: center;
    font-size: 0.6em;
    color: #999;
    white-space: nowrap;
}

.contact-info-grid .contact-message {
    grid-column: 1;
    grid-row: 2;
    max-width: 90%;
    justify-self: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8em;
    min-height: 1.2em;
    color: #666;
}

.contact-info-grid .message-badge {
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    min-width: 1.2rem;
}