.avatar-uploader-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.file-upload {
  justify-content: center;
  position: relative;
  display: inline-block;
}

.file-upload::before {
  content: '';
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../../../assets/photo.png);
  background-color: black;
  background-size: 70% 70%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.file-upload:hover::before {
  opacity: 0.6; 
}

.file-upload:hover .ant-avatar {
  opacity: 0.3; 
}

.avatar-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  height: 500px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content input[type="file"] {
  margin: 20px 0;
}

.cropper-container {
  position: relative;
  width: 100%;
  height: 400px; /* Or any desired height */
  background: #333;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.zoom-range {
  width: 50%;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.modal-actions button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-actions button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.modal-actions button:first-of-type {
  background-color: #007bff;
  color: white;
}

.modal-actions button:last-of-type {
  background-color: #f1f1f1;
}

#user-name{
  background-color: var(--tool-bar-bg-color);
  width: 200px;
  justify-content: center;
}

.info-lable{
  padding-right: 20px;
}
