.contact-information-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.contact-information-avatar{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.contact-information-dropdown {
  position: absolute;
  top: 10px;
  right: 10px;
}

.contact-information-button {
  margin-top: 20px;
}

.menu-item-delete {
  color: red;
}