.contact-option {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    flex-direction: column;
    height: calc(100% - 100px);
    right: 0;
    width: 300px;
    z-index: 10;
    background-color: var(--contact-option-bg-color);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    border-radius: var(--border-radius);
    overflow-y: auto;
}


.contact-option .group-member-list {
    display: grid;
    margin: 10px 10px;
    height: auto;
    border-radius: var(--border-radius);
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 10px 0;
    background-color: var(--background-color);
}

.contact-option .group-member-list .group-member {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 50px;
    height: 80px;
    border-radius: var(--border-radius);
    padding: 5px;
    justify-content: center;
}

.contact-option .group-member-list .group-member img{
    grid-row: 1;
    width: 40px;
    height: 40px;
    justify-self: center;
    border-radius: 50%;
}

.contact-option .group-member-list .group-member span{
    grid-row: 2;
    font-size: 12px;
    color: var(--text-color);
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 5px;
    justify-content: center;
}

.contact-option .delete-message-history{
    color: red;
    background-color: var(--background-color);
    border: none;
    border-radius: var(--border-radius);
    margin: 10px;
    height: 40px;
}

.contact-option-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: var(--background-color);
}

.contact-option-header strong {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contact-option-header h4 {
    opacity: 0.5;
}

.contact-option.visible {
    transform: translateX(0);
    background: var(--contact-option-bg-color);
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.3);
}