.history-message-box {
    background-color: var(--information-bg-color);
    color: var(--text-color);
    scrollbar-color: transparent transparent;
    scrollbar-width: 10px;
    overflow-x: hidden;
    flex-grow: 1;
}

.contact-info {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color);
}

.message-list-tool {
    display: flex;
    justify-content: flex-end;
    max-width: 300px;
    gap: 30px;
    position: absolute;
    right: 0;
    padding-right: 30px;
}

.message-list-tool .icon {
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.message-list-tool .icon:hover {
    background-color: var(--hover-contact-background-color);
}

.contact-username-head {
    flex: 1;
}

.message-send-box {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border-top: 1px solid var(--border-color);
    max-height: 500px;
    min-height: 200px;
    color: var(--text-color);
    margin-top: auto;
}

.file-upload-btn {
    background-color: transparent;
    border: none;
    color: var(--text-color);
}

.file-upload-btn:hover {
    background-color: var(--hover-contact-background-color);
}



.message-send-btn {
    position: absolute;
    width: 80px;
    height: 30px;
    right: 20px;
    bottom: 20px;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--selected-contact-background-color);
    color: var(--text-color);
    cursor: pointer;
}

.message-send-btn:hover {
    background-color: var(--tool-bar-selected-color);
}

.message-list {
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--information-bg-color);
    color: var(--text-color);
}

.message-item .user-avatar {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    margin: 0 5px;
}

.message-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    width: 100%;
}

.message-item.sent {
    flex-direction: row-reverse;
}

.message-item.received {
    flex-direction: row;
}

.message-content {
    display: 1;
    padding: 8px 12px;
    border-radius: var(--border-radius);
}

.message-status {
    margin: 10px;
}

.message-item.sent .message-content {
    background-color: var(--history-message-user-color);
}

.message-item.received .message-content {
    background-color: var(--history-message-other-color);
}

.message-timestamp {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.75em;
    color: var(--text-color);
    margin-top: 4px;
}

.message-text {
    font-size: 16px;
    color: var(--text-color);
    overflow-wrap: break-word;
}

.file-message-content {
    display: flex;
    width: 300px;
    padding: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    height: 100px;
}

.file-message-content.sent {
    background-color: var(--history-message-user-color);
}

.file-message-content.received {
    background-color: var(--history-message-other-color);
}

.file-message-content .message-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
    display: inline-block;

}



.message-send-box {
    flex: 0 0 auto !important;
}



.group-member:hover {
    background-color: var(--hover-contact-background-color);
}


.group-member-toggle-btn {
    position: absolute;
    top: 40%;
    right: 0;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
}


.input-toolbar {
    background-color: var(--information-bg-color);
    display: flex;
    width: 100%;
}
