.message-input-box {
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-right: 50px;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
    font-size: 16px;
    overflow-y: auto;
    background-color: var(--information-bg-color);
    color: var(--text-color);
    resize: none;
}

.message-input-box::-webkit-scrollbar {
    display: none;
}